<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Cube Collective</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
        <h1>The Cube Collective</h1>
        Welcome to The Cube Collective, we hope you will have a great time!
        <noscript>
            For full functionality you must enable javascript!
        </noscript>
    </header>
    <main>
        <section id="server">
            <h2>Server</h2>
            <img src="webminecraft.png">
            <code>play.thecubecollective.net</code>
            <button onclick="copyButton()">
                COPY URL ⧉
            </button>
        </section>
        <section id="map">
            <h2>Maps</h2>
            <img src="webdynmap.png">
            <code>https://thecubecollective.net/map</code>
            <div class="button-holder">
                <button class="map" onclick="window.location.href='/map'">
                    LIVE MAP <span class="live">●</span>
                </button>
                <button class="seed" onclick="window.open('https://www.chunkbase.com/apps/seed-map#seed=1757404403610633549&platform=java_1_21&dimension=overworld')">
                    SEED MAP
                </button>
            </div>
            <!-- <iframe src="/map" title="Map" frameBorder="0"></iframe> -->
        </section>
        <section id="discord">
            <h2>Discord</h2>
            <img src="webdiscord.png">
            <code>https://discord.gg/qgnbRemYPz</code>
            <button onclick="window.open('https://discord.gg/qgnbRemYPz')">
                JOIN CHANNEL
            </button>
        </section>

        <section id="members">
            <h2>SMP Members</h2>
            <div class="memberlist">
                <div class="player">
                    <img src="https://mc-heads.net/avatar/Violetborne" alt="Violetborne's Head">
                    <p class="op">Violetborne</p>
                </div>
                <div class="player">
                    <img src="https://mc-heads.net/avatar/itsHoormazd" alt="itsHoormazd's Head">
                    <p>itsHoormazd</p>
                </div>
                <div class="player">
                    <img src="https://mc-heads.net/avatar/Khaey" alt="Khaey's Head">
                    <p>Khaey</p>
                </div>
                <div class="player">
                    <img src="https://mc-heads.net/avatar/TheRealComie" alt="TheRealComie's Head">
                    <p>TheRealComie</p>
                </div>
                <div class="player">
                    <img src="https://mc-heads.net/avatar/wii452life" alt="wii452life's Head">
                    <p>wii452life</p>
                </div>
            </div>

            <div class="memberfooter">
                Apply to join on Discord
            </div>
        </section>
    </main>
    <footer>
        <p>The Cube Collective</p>
        <!-- <img id="status" src="http://status.mclive.eu/The Cube Collective Network/play.thecubecollective.net/25565/banner.png"> -->
        <p>play.thecubecollective.net</p>
        <p>©2023, Hoormazd</p>
    </footer>
    <script>
        function copyButton() {
            var copyText = "play.thecubecollective.net";
            navigator.clipboard.writeText(copyText);
        }
    </script>
  </body>
</html>