<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Cube Collective</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
        <h1>The Cube Collective</h1>
        Welcome to The Cube Collective, we hope you will have a great time!
        <noscript>
            For full functionality you must enable javascript!
        </noscript>
    </header>
    <main>
        <section id="server">
            <h2>Server</h2>
            <code>play.thecubecollective.net</code>
            <img src="webminecraft.png">
            <button onclick="copyButton()">
                COPY URL ⧉
            </button>
        </section>
        <section id="map">
            <h2>Maps</h2>
            <code>thecubecollective.net/map</code>
            <img src="webdynmap.png">
            <div class="button-holder">
                <button class="map" onclick="window.location.href='/map'">
                    LIVE MAP <span class="live">●</span>
                </button>
                <button class="seed" onclick="window.open('https://www.mcseeder.com/?seed=-3582857765817218416&version=19')">
                    SEED MAP
                </button>
            </div>
            <!-- <iframe src="/map" title="Map" frameBorder="0"></iframe> -->
        </section>
        <section id="discord">
            <h2>Discord</h2>
            <code>New channel coming soon TM</code>
            <img src="webdiscord.png">
            <button onclick="window.open('https://discord.gg/gjAqsjPV')">
                JOIN OLD CHANNEL
            </button>
        </section>
    </main>
    <footer>
        <p>The Cube Collective</p>
        <!-- <img id="status" src="http://status.mclive.eu/The Cube Collective Network/play.thecubecollective.net/25565/banner.png"> -->
        <p>play.thecubecollective.net</p>
        <p>©2023, Hoormazd</p>
    </footer>
    <script>
        function copyButton() {
            var copyText = "play.thecubecollective.net";
            navigator.clipboard.writeText(copyText);
        }
    </script>
  </body>
</html>