<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Cube Collective</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
        <h1>The Cube Collective</h1>
        SERVER LIVE MAP <span class="live">●</span>
        <noscript>
            For full functionality you must enable javascript!
        </noscript>
    </header>
    <main>
        <section id="map" class="map-page">
            <iframe src="/dynmap" title="Map" frameBorder="0"></iframe>
            <div class="button-holder">
                <button class="map" onclick="window.location.href='/index'">
                    BACK TO HOMEPAGE
                </button>
                <button onclick="window.location.href='/dynmap'">
                    FULLSCREEN
                </button>
                <button class="seed" onclick="window.open('https://www.mcseeder.com/?seed=-3582857765817218416&version=19')">
                    SEED MAP
                </button>
            </div>
        </section>
    </main>
    <footer>
        <p>The Cube Collective</p>
        <!-- <img id="status" src="http://status.mclive.eu/The Cube Collective Network/play.thecubecollective.net/25565/banner.png"> -->
        <p>play.thecubecollective.net</p>
        <p>©2023, Hoormazd</p>
    </footer>
    <script>
        function copyButton() {
            var copyText = "play.thecubecollective.net";
            navigator.clipboard.writeText(copyText);
        }
    </script>
  </body>
</html>