/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./dev/new.scss ***!
  \***********************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap);
/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./dev/new.scss (1) ***!
  \***************************************************************************************************************************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@keyframes bouncedown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@font-face {
  font-family: "Minecraft";
  src: url(2b2bcd0b676109cb5056.eot);
  font-style: normal;
}
@font-face {
  font-family: "Minecraft";
  src: local("Minecraft"), url(d4ee4c2f1382114a8085.ttf) format("truetype"), url(f8d635b54ebfc2bf41f9.svg#Minecraft) format("svg");
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Space Grotesk", sans-serif;
  color: #f5f5f5;
  background-color: #1a1a1d;
  margin: 0;
  padding: 0;
  line-height: 160%;
  background-image: url(55c0d96ccec320b97625.png);
}

a {
  color: #FF4500;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
}
a:hover {
  text-decoration: underline;
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  background-color: #1a1a1d;
  border-bottom: 2px solid #FF4500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.site-header .logo a {
  font-family: "Minecraft", sans-serif;
  font-size: 2rem;
  color: #f5f5f5;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #333333, 4px 4px 0 #ffcc00;
}
.site-header .logo .welcome-banner {
  background-color: transparent;
  color: #ffcc00;
  padding: 0.25% 0.5%;
  font-family: "Minecraft", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow: none;
  animation: bouncedown 2s infinite;
  position: relative;
  right: -20px;
}
.site-header .main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.site-header .main-nav ul li a {
  font-family: "Minecraft", sans-serif;
  font-size: 1rem;
  color: #f5f5f5;
  transition: color 0.3s, border-bottom 0.3s;
  text-shadow: 1px 1px 0 #333333, 2px 2px 0 #ffcc00;
}
.site-header .main-nav ul li a:hover {
  color: #FF4500;
  border-bottom: 2px solid #ffcc00;
}

section {
  display: flex;
  align-items: center;
  margin: 3% auto;
  padding: 2%;
  border: 2px solid #FF4500;
  border-radius: 0.5rem;
  animation: fadeIn 2s ease-in-out;
  width: 95%;
  background-color: rgba(26, 26, 29, 0.9);
}
section:nth-child(odd) {
  background-color: rgba(26, 26, 29, 0.55);
}
section:nth-child(even) {
  background-color: rgba(15, 15, 18, 0.55);
}
section .side-title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: "Minecraft", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  color: #FF4500;
  margin-right: 2%;
  flex-shrink: 0;
  text-shadow: 2px 2px 0 #333333, 4px 4px 0 #FF4500;
  animation: slideIn 1s ease-in-out;
}
section .section-content {
  flex: 1;
  position: relative;
  z-index: 1;
}
section .section-content h2 {
  font-family: "Minecraft", sans-serif;
  font-size: 2rem;
  margin-bottom: 1%;
  color: #f5f5f5;
  text-shadow: 2px 2px 0 #333333, 4px 4px 0 #FF4500;
  animation: slideIn 1s ease-in-out;
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 0.5%;
}
section .section-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1%;
  color: #f5f5f5;
  animation: fadeIn 2s ease-in-out;
}
section .section-content .server-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section .section-content .server-list .server {
  padding: 1%;
  border: 2px solid #FF4500;
  border-radius: 0.5rem;
  background-color: #1a1a1d;
  color: #f5f5f5;
  position: relative;
  overflow: hidden;
  animation: fadeIn 2s ease-in-out;
}
section .section-content .server-list .server .server-logo {
  display: block;
  visibility: visible;
  opacity: 1;
  width: 300px;
  height: 73px;
  padding: 0;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
  z-index: 3;
  position: relative;
}
section .section-content .server-list .server .minecraft-logo {
  background-image: url(9623ba426c420e7ae0bc.png);
}
section .section-content .server-list .server .enshrouded-logo {
  background-image: url(4749718e3177f4284f3b.png);
}
section .section-content .server-list .server:nth-child(1) {
  border-color: #2a412b;
}
section .section-content .server-list .server:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(ed6d5559a3b13daeead2.webp);
  background-size: cover;
  background-position: center;
  filter: contrast(0.6) hue-rotate(-10deg) brightness(0.8);
  z-index: 0;
}
section .section-content .server-list .server:nth-child(1)::after {
  background: rgba(42, 65, 43, 0.3);
}
section .section-content .server-list .server:nth-child(1) h3 {
  color: #2a412b;
  text-shadow: 1px 1px 0 #f5f5f5, 2px 2px 0 #f5f5f5;
}
section .section-content .server-list .server:nth-child(2) {
  border-color: #26231f;
}
section .section-content .server-list .server:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(8e8ae2200221e07e86ac.jpeg);
  background-size: cover;
  background-position: center;
  filter: contrast(0.6) hue-rotate(-10deg) brightness(0.8);
  z-index: 0;
}
section .section-content .server-list .server:nth-child(2)::after {
  background: rgba(38, 35, 31, 0.3);
}
section .section-content .server-list .server:nth-child(2) h3 {
  color: #26231f;
  text-shadow: 1px 1px 0 #f5f5f5, 2px 2px 0 #f5f5f5;
}
section .section-content .server-list .server::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 87, 51, 0.3);
  z-index: 1;
}
section .section-content .server-list .server .comic-effect {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(55c0d96ccec320b97625.png);
  opacity: 0.3;
  z-index: 2;
}
section .section-content .server-list .server h3 {
  font-family: "Minecraft", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #FF4500;
  text-shadow: 1px 1px 0 #f5f5f5, 2px 2px 0 #f5f5f5;
  position: relative;
  z-index: 3;
  animation: slideIn 1s ease-in-out;
}
section .section-content .server-list .server p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  color: #f5f5f5;
  position: relative;
  z-index: 3;
  animation: fadeIn 2s ease-in-out;
}
section .section-content .server-list .server .sub-section-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
}
section .section-content .server-list .server .sub-section-container .sub-section {
  margin: 10px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #FF4500;
  border-radius: 15px;
  color: #f5f5f5;
  position: relative;
  z-index: 3;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  backdrop-filter: blur(2px);
  width: 100%;
}
section .section-content .server-list .server .sub-section-container .sub-section img {
  align-self: center;
  width: 50%;
}
section .section-content .server-list .server .sub-section-container .sub-section div.img {
  align-self: center;
  width: 80%;
  background-size: cover;
}
section .section-content .server-list .server .sub-section-container .sub-section h4 {
  font-family: "Minecraft", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0.5%;
  text-shadow: 1px 1px 0 #f5f5f5, 2px 2px 0 #f5f5f5;
}
section .section-content .server-list .server .sub-section-container .sub-section p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5%;
  color: black;
}
section .section-content .server-list .server .sub-section-container .sub-section .live {
  color: red;
  font-size: 1.2rem;
  vertical-align: middle;
}
section .section-content .server-list .server .sub-section-container .sub-section button {
  width: 100%;
  height: 75px;
  font-family: "Minecraft";
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  border: 5px outset #e29020;
  background-color: #e29020;
  color: black;
}
section .section-content .server-list .server .sub-section-container .sub-section button:hover {
  background-color: rgba(226, 144, 32, 0.8);
}
section .section-content .server-list .server .sub-section-container .sub-section button:active {
  background-color: rgba(226, 144, 32, 0.06);
  color: #e29020;
}
section .section-content .server-list .server .sub-section-container .enshrouded-info {
  color: #00bfff;
  border: 5px outset #00bfff;
  background-color: rgba(0, 0, 0, 0.43);
  border-radius: 15px;
}
section .section-content .server-list .server .sub-section-container .enshrouded-info h4 {
  font-size: 1.5rem;
  color: #ffcc00;
  text-shadow: 2px 2px 0 #333333, 4px 4px 0 #00bfff;
  animation: bounce 2s infinite;
  margin-bottom: 0.5%;
}
section .section-content .server-list .server .sub-section-container .enshrouded-info p {
  font-size: 1.2rem;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 #333333, 2px 2px 0 #00bfff;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 0.5%;
}
section .section-content .server-list .server .sub-section-container .enshrouded-info button {
  width: 100%;
  font-family: "Minecraft";
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  border: 5px outset #00bfff;
  background-color: #00bfff;
  color: black;
}
section .section-content .server-list .server .sub-section-container .enshrouded-info button:hover {
  background-color: rgba(0, 191, 255, 0.8);
}
section .section-content .server-list .server .sub-section-container .enshrouded-info button:active {
  background-color: rgba(0, 191, 255, 0.06);
  color: #00bfff;
}
section .section-content .server-list .server .sub-section-container .server-info {
  color: #e29020;
  border: 5px outset #e29020;
  background-color: rgba(0, 0, 0, 0.43);
}
section .section-content .server-list .server .sub-section-container .server-info div.img {
  content: url(12144b67b8edba3c3032.png);
}
section .section-content .server-list .server .sub-section-container .server-info img#status {
  width: 80%;
}
section .section-content .server-list .server .sub-section-container .server-info button {
  border: 5px outset #e29020;
  background-color: #e29020;
}
section .section-content .server-list .server .sub-section-container .server-info button:hover {
  background-color: rgba(226, 144, 32, 0.8);
}
section .section-content .server-list .server .sub-section-container .server-info button:active {
  background-color: rgba(226, 144, 32, 0.06);
  color: #e29020;
}
section .section-content .server-list .server .sub-section-container .live-map {
  color: #4f9810;
  border: 5px outset #4f9810;
  background-color: rgba(0, 0, 0, 0.43);
}
section .section-content .server-list .server .sub-section-container .live-map div.img {
  content: url(9d2106cf2422fea9be56.png);
}
section .section-content .server-list .server .sub-section-container .live-map .button-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  padding: 0;
  width: 100%;
}
section .section-content .server-list .server .sub-section-container .live-map .button-holder button {
  font-family: "Minecraft";
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 5px outset #4f9810;
  background-color: #4f9810;
  color: black;
}
section .section-content .server-list .server .sub-section-container .live-map .button-holder button:hover {
  background-color: rgba(79, 152, 16, 0.8);
}
section .section-content .server-list .server .sub-section-container .live-map .button-holder button:active {
  background-color: rgba(79, 152, 16, 0.06);
  color: #4f9810;
}
section .section-content .server-list .server .sub-section-container .live-map .button-holder button.map {
  border-radius: 15px 0 0 15px;
}
section .section-content .server-list .server .sub-section-container .live-map .button-holder button.seed {
  border-radius: 0 15px 15px 0;
}
section .section-content .server-list .server .sub-section-container .status {
  color: #c1ba00;
  border: 5px outset #c1ba00;
  background-color: rgba(0, 0, 0, 0.43);
}
section .section-content .server-list .server .sub-section-container .status .server-table {
  width: 100%;
  border-spacing: 0;
  font-size: 87.5%;
}
section .section-content .server-list .server .sub-section-container .status .server-table .label {
  text-align: left;
  padding: 8px;
  font-weight: bold;
  color: #c1ba00;
}
section .section-content .server-list .server .sub-section-container .status .server-table .value {
  text-align: left;
  padding: 8px;
  color: #fff;
}
section .section-content .server-list .server .sub-section-container .status .server-table .status-online {
  color: #4caf50;
}
section .section-content .server-list .server .sub-section-container .status .server-table .status-offline {
  color: #af4c4c;
}
section .section-content .server-list .server .sub-section-container .status .server-table img.icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
section .section-content .server-list .server .sub-section-container .status .server-table .player-head {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}
section .section-content .server-list .server .sub-section-container .status .server-table tr:nth-child(odd) {
  background-color: rgba(193, 186, 0, 0.16);
}
section .section-content .server-list .server .sub-section-container .status .server-table tr:nth-child(even) {
  background-color: rgba(193, 186, 0, 0.06);
}
section .section-content .discord-link {
  display: inline-block;
  font-family: "Minecraft", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #1a1a1d;
  background-color: #FF4500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid #ffcc00;
  border-radius: 0.5rem;
  margin-top: 1rem;
  transition: background-color 0.3s, color 0.3s;
  animation: fadeIn 2s ease-in-out;
}
section .section-content .discord-link:hover {
  background-color: #ffcc00;
  color: #f5f5f5;
}

.memberlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2%;
}
.memberlist .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 87, 51, 0.2);
  border: 2px solid #FF4500;
  border-radius: 0.5rem;
  padding: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}
.memberlist .player img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.memberlist .player p {
  font-family: "Minecraft", sans-serif;
  font-size: 1rem;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 #333333, 2px 2px 0 #FF4500;
  margin: 0;
}
.memberlist .player .op {
  color: #ffcc00;
}

.highlight {
  position: relative;
  padding: 2%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #1a1a1d;
  text-align: center;
  overflow: hidden;
  animation: fadeIn 2s ease-in-out;
}
.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #FF4500 0%, #ffcc00 100%);
  background-size: cover;
  background-blend-mode: overlay;
  opacity: 0.5;
  z-index: 0;
  filter: blur(2px);
}
.highlight h2,
.highlight p {
  position: relative;
  z-index: 1;
}
.highlight h2 {
  font-size: 3rem;
  margin-bottom: 1%;
  color: #1a1a1d;
  text-shadow: 3px 3px 0 #f5f5f5, 5px 5px 0 #FF4500;
  animation: slideIn 1s ease-in-out;
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 0.5%;
}
.highlight p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #1a1a1d;
  animation: fadeIn 2s ease-in-out;
  margin-top: 1%;
}

.site-footer {
  text-align: center;
  padding: 1%;
  background-color: #1a1a1d;
  border-top: 2px solid #FF4500;
}
.site-footer p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 87.5%;
  margin: 0;
  color: #f5f5f5;
}

@media (max-width: 1005px) {
  .site-header {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  .site-header .logo {
    width: 100%;
    margin-bottom: 1rem;
  }
  .site-header .logo a {
    font-size: 1.2rem;
  }
  .site-header .logo .welcome-banner {
    font-size: 0.8rem;
  }
  .site-header .main-nav {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  main section {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    box-sizing: border-box;
  }
  main section .side-title {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  main section .section-content {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  main section .section-content h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  main section .section-content p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }
  main section .section-content .server-list {
    flex-direction: column;
    gap: 1rem;
  }
  main section .section-content .server-list .server {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  main section .section-content .server-list .server .server-logo {
    width: 100%;
    height: 50px !important;
    height: auto;
    margin-bottom: 0.5rem;
  }
  main section .section-content .server-list .server .sub-section-container {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }
  main section .section-content .server-list .server .sub-section-container .sub-section {
    width: 100%;
    padding: 1%;
    margin: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  main section .section-content .discord-link {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  main .memberlist {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
  }
  main .memberlist .player {
    padding: 1rem;
    width: 80%;
    box-sizing: border-box;
    margin: 1rem 0;
  }
  main .memberlist .player img {
    width: 25%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  main .highlight {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
  }
  main .highlight h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  main .highlight p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  footer {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
